@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: var(--border);
  }

  body {
    --background: hsl(216deg 65% 11%);
    --foreground: hsl(227, 28%, 67%);

    --border: hsl(220, 33%, 18%);

    --card: hsl(218, 51%, 16%);
    --bright: hsl(212, 62%, 96%);

    --secondary: hsl(175, 84%, 78%);
    --primary: hsl(145, 90%, 70%);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    color: var(--foreground);
    background-color: var(--background);
    font-family: var(--font-sans);

    overflow-x: hidden;
  }

  svg[data-id='signature'] > path {
    fill: none;
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: draw 5s ease forwards;
    animation-delay: 300ms;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  [data-id='border-card'] {
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    min-width: fit-content;
    padding: 1px;
  }

  [data-id='border-card']::after {
    content: '';
    background-image: conic-gradient(
      transparent,
      transparent,
      transparent,
      hsla(145, 90%, 70%, 0.5)
    );
    position: absolute;
    top: -120%;
    left: -120%;
    bottom: -120%;
    right: -120%;
    animation: rotate 20s linear infinite;
    z-index: 0;
    will-change: transform, opacity;
  }

  [data-id='border-card-inner'] {
    position: relative;
    z-index: 10;
    height: 100%;
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

  input,
  textarea {
    @apply rounded bg-card p-4 shadow-md transition-all;
  }

  input:focus,
  textarea:focus {
    @apply outline-none ring-2 ring-primary;
  }
}

@layer utilities {
  .button {
    @apply rounded bg-primary px-6 py-3 text-sm font-bold text-background transition-all will-change-transform hover:bg-secondary;
  }
}

.slick-dots {
  bottom: -52px !important;
}

.slick-dots > li {
  margin: 8px !important;
}

.slick-slide > div {
  padding: 0 8px;
  height: 100% !important;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}
