@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: var(--border);
  }

  body {
    /* --background: hsl(220deg 43% 10%);
    --foreground: hsl(218, 11%, 65%);

    --border: hsl(220, 33%, 18%);

    --card: hsl(222, 33%, 16%);
    --bright: hsl(214deg 43% 83%);

    --secondary: hsl(186, 99%, 28%);
    --primary: hsl(194, 51%, 67%); */

    --background: hsl(216deg 65% 11%);
    --foreground: hsl(227, 28%, 67%);

    --border: hsl(220, 33%, 18%);

    --card: hsl(218, 51%, 16%);
    --bright: hsl(212, 62%, 96%);

    --secondary: hsl(186, 99%, 28%);
    --primary: hsl(145, 90%, 70%);

    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    color: var(--foreground);
    background-color: var(--background);
    font-family: var(--font-sans);

    overflow-x: hidden;
  }

  svg[data-id='signature'] > path {
    fill: none;
    stroke-dasharray: 700;
    stroke-dashoffset: 700;
    animation: draw 5s ease forwards;
    animation-delay: 300ms;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }

  [data-id='border-card'] {
    overflow: hidden;
    position: relative;
    border-radius: 4px;
    min-width: fit-content;
  }

  [data-id='border-card']::after {
    content: '';
    background-image: conic-gradient(
      transparent,
      transparent,
      transparent,
      hsla(145, 90%, 70%, 0.5)
    );
    position: absolute;
    top: -500%;
    left: -500%;
    bottom: -500%;
    right: -500%;
    animation: rotate 20s linear infinite;
    z-index: 1;
  }

  [data-id='border-card-inner'] {
    margin: 1px;
    position: relative;
    z-index: 10;
    height: calc(100% - 2px);
  }

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
}

.slick-dots {
  bottom: -52px !important;
}

.slick-dots > li {
  margin: 8px !important;
}

.slick-slide > div {
  padding: 0 5px;
  height: 100% !important;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}
